<h3>## 01 - Interpolação estatica##</h3>
<p>OBS: Esse exemplo se encontra no compomente cursos-lista.component.html</p>

<p>Este é meu email para contado {{emailAdress}}</p>
<br/>
<h3>## 02 - Uso da diretiva *ngFor##</h3>
<p>OBS: Esse exemplo se encontra no compomente cursos-lista.component.html</p>
<p> NOTA: Existe uma ligação com o componente cursos.service.ts ; cursos.component.ts ; cursos.coponent.html</p>
<!--OBS: Tanto faz você usar o [innerHTML] como interpolar {{curso}}-->
<ul *ngFor= "let curso of cursosTitle"[innerHTML]= "curso">
    <li>
        <!--{{curso}}-->
    </li>
</ul>
<br/>
<h3>## 03 - Uso da diretiva [(ngModel)]=" "e (click)##</h3>
<p>OBS: Esse exemplo se encontra no compomente cursos-lista.component.html</p>

<input type="text" [(ngModel)]= "task">
<button type="button" (click)= "add()">Enviar</button>
<ul *ngFor= "let item of tasks">
    <li >
        {{item}}
    </li>
</ul>
<br/><br/>
<h3>## 04 - Uso da diretiva [hidden]##</h3><!--Hidden tem a função de esconder um valor se for verdadeiro-->
<p>OBS: Esse exemplo se encontra no compomente cursos-lista.component.html</p>
<div [hidden]= "isAdmin">
    common User
</div>
<div [hidden]= "!isAdmin">
    common Admin
</div>
<br>
<h3>## 05 - Uso da diretiva *ngIf##</h3> <!--*ngIf segue o mesmo principio da linguagem Java-->
<p>OBS: Esse exemplo se encontra no compomente cursos-lista.component.html</p>
<div *ngIf= "isAdminNgIf">
    Administrator
</div>
<div *ngIf= "!isAdminNgIf">
    Administrator Basic
</div>
<br>
<h3>## 06 - Uso da diretiva [ngSwitch]##</h3><!--ngSwitch segue o mesmo princípio da lingagem Java-->
<p>OBS: Esse exemplo se encontra no compomente cursos-lista.component.html</p>
<div [ngSwitch]= "profile">
    <p *ngSwitchCase= "1">Seu número da sorte foi 1</p>
    <p *ngSwitchCase= "2">Seu número da sorte foi 2</p>
    <p *ngSwitchDefault>Você não acertou seu número da sorte</p>
</div>
<br>
<h3>## 07 - Conceito de Service##</h3>
<ul *ngFor= "let comment of comments">
    <li>
        {{comment.id}} - {{comment.name}} - {{comment.email}}
    </li>
</ul>
<br>
<h3>## 08 - Conceito ngModel##</h3>
<form #form= "ngForm">
<div>
    <label for="name">Nome</label>
    <input type="name" id="name" name="name"[(ngModel)]= "name" #nameVerify= "ngModel" required>
    <span *ngIf= "nameVerify.invalid">Campo Obrigatório</span>
</div>
<br>
<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]= "email" #emailVerify= "ngModel" email required>
    <span *ngIf= "emailVerify.invalid">Email inválido</span>
</div>
<button type="submit" [disabled]= "!form.valid">Enviar</button>
</form>
